button,
input,
select,
textarea {
    all: revert;
}

ul {
    all: revert;
}

ol {
    all: revert;
}

h1, h2, h3, h4, h5, h6 {
    all: revert;
}

a {
    all: revert;
}
.error {
    color:red;
}
.success{
    color:green;
}